OPENAI_API_KEY=YOU API KEY
OPENAI_MODEL=gpt-5.5
TAVILY_API_KEY=TAVILY_API_KEY
OPENAI_URL=base_url
DISABLE_AI_IMAGES=false
OPENAI_IMAGE_MODEL=gpt-image-2-vip
OPENAI_IMAGE_SIZE=1536x1024
OPENAI_IMAGE_QUALITY=low
SEARCH_TIMEOUT_SECONDS=18